.main-screen {
    display: flex;
    background: rgb(18, 18, 18);
    flex-direction: column;
    grid-row: 1;
    grid-column-start: 2;
    margin: 8px 8px 8px 0;
    border-radius: 10px;
    font-weight: bolder;
}
