.s-artist-container {
    width: 100%;
    min-height: 45%;
    overflow-y: hidden;
}

.artist-cont {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 250px;
    margin: 5px;
    padding: 10px;

    span {
        color: rgb(138, 138, 138);
        font-size: 14px;
        align-self: baseline;
        font-weight: 200;
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.artist-cont:hover {
    background: rgb(32, 32, 32);
    border-radius: 10px;
}

.artistCards{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: no-wrap;
    margin: 0 5px;
}

#artist-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#artist-name {
    color: white;
    font-size: 16px;
    align-self: baseline;
    font-weight: 400;
    margin: 10px 0 5px 0;
}
