.pushRight {
    margin: 0 30px 0 auto;
    text-align: right;
    justify-self: end;
}


.song-cont {
    display: flex;
    align-items: center;
    height: 54px;
    border-radius: 4px;
    width: calc(100% - 24px);
    min-width: 70%;
    margin: 0 0 0 24px;
    font-weight: 500;  

    #track-play-icon {
        visibility: hidden;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.song-cont:hover {
    background: rgb(45, 45, 45);

    #info, #ct {
        color: white;
    }

    img {
        opacity: 45%;
    }

    #track-play-icon {
        visibility: visible;
    }
}

#song-abstr {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0 12px 0 0;
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin: 0 12px 0 10px;
    }

    #song_det {
        display: grid;
        width: 100%;
        align-items: flex-start;

        p {
            width:calc(80% - 2px);
            font-size: 15px;
            padding: 0 0 2px 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            margin: 0;
        }

        span {
            width: calc(80% - 2px);
            display: flex;
            align-items: center;
            font-size: 13px;
            padding: 2px 0 0 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(175, 174, 174);
        }

        p:hover, span:hover {
            /* text-decoration: underline; */
            cursor: pointer;
            font-weight: bold;
        }   
    }
}


.songLength {
    width: 100%; 
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(179, 178, 178);   
}

.track-img {
    display: flex;
    position: relative;
}


#song-alb {
    display:flex;
    align-items: center;
    width: 25%;
    padding: 0 16px 0 0;

    span {
        font-size: 13px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(179, 178, 178);   
    }
}
