.MainPage {
    margin: 0;
    display: grid;
    grid-template-columns: 1.35fr 4fr; 
    grid-template-rows: 89% 11%;
    grid-gap: 10px;
    height: 100vh;
    color: white;
    font-family: 'CircularSP', sans-serif;
    background-color: black;
    overflow: hidden;

    .btn {
        background: inherit;
        border-style: none;
        color: inherit;
        cursor: pointer;
    }
}


