.main-nav {
    display:flex;
    margin: 8px 0 8px 8px;
    border-radius: 10px;
    background: rgb(18, 18, 18);
    align-items: center;
    height: 112px;
}

ul {
    list-style-type: none;
    width: 100%;
    padding-left: 20px; 
    
}

li {
    display: flex;
    span {
        margin-left: 22px;
    }
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 90%;
    opacity: 70%;

    span { 
        font-size: 18px;
        font-weight: bold;
    }

    button {
        border-style: none;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
}

.choice:hover {
    opacity: 100%;
    
}

