.footer-player {
    /* Can delete later */
    border-color: white;
    border-width: 1px;
    border-style: solid;


    display: flex;
    grid-column : span 2;
    border-radius: 10px;
    margin: 0 8px 12px 8px;
}