.footer-song-info {
    background: rgb(83, 83, 83);
    width: 20%;
    display: flex;
    align-items: center;
}

.footer-img {
    width: 65px;
    height: 65px;
    margin: 0 0 0 12px;
    border-radius: 10%;
}

.footer-song-details {

    padding: 0 0 0 12px;

    p {
        padding: 0;
        margin: 2px;
    }
    
    .song-name {
        font-size: 14px;
    }

    .artist-names {
        font-size: 12px;
        color: #B3B3B3;
    }
}