.search-results {
    width: 100%;
    margin: 8px 0 0 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.searchTitle {
    padding: 0 0 0 10px;
    margin: 10px 0;
}

.searchCard {
    display: flex;
    max-width: 190px;
    height: 250px;
    flex-direction: column;
    background: inherit;
    align-items: center;
    text-overflow: ellipsis;
    margin: 5px;
    padding: 5px;

    span {
        width: 100%;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.searchCard:hover {
    background: rgb(29, 29, 29);
    border-radius: 10px;
}

.cardImg {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    margin: 5px;
}


.cardTitle {
    width: 80%;
    padding: 2.5px 0 2.5px 5px;
    font-size: 16px;
    align-self: baseline;
    font-weight: 400;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.cardDetails {
    color: rgb(138, 138, 138);
    padding: 2.5px 5px;
    font-size: 14px;
    align-self: baseline;
    font-weight: 200;
    width: 80%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.s-row-container {
    width: 100%;
    min-height: 45%;
    overflow-y: hidden;
}

.content {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 5px 0 5px;
}

.img_cir_hold {
    display: flex;
    position: relative;
    align-items: center;
}

.searchCard:hover #searchPlayIcon {
    visibility: visible;
    opacity: 1;
    transform: translateY(-25%); /* Move up to 65% from bottom */
}

.searchCard #searchPlayIcon {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#searchPlayIcon {
    visibility: hidden;
    border-radius: 50%;
    color: #1ed760;
    background: black;
    min-width: 55px;
    height: 55px;
    position: absolute;
    align-self: baseline;
    border-style: none;
    left: 65%;
    opacity: 0;
    bottom: 0; /* Start at the bottom */
    transform: translateY(30%); /* Start offscreen */
    transition: opacity 0.7s ease, transform 0.3s ease;
}