@import url('https://fonts.googleapis.com/css2?family=Circular&display=swap');
.App {
  display: grid;
  grid-template-columns: 1.15fr 4fr; 
  grid-template-rows: 86% 14%;
  grid-gap: 10px;
  height: 100vh;
  color: white;
  font-family: 'CircularSP', sans-serif;
  background-color: black;
  overflow: hidden; /* Prevent scrolling */
}

button {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}
