.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 100vh;
    width: 100vw;
    color : white;

    button {
        display: flex;
        border-color: gray;
        background-color: inherit;
        color: white;
        border-radius: 10px;
        width: 150px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-style: solid;
    }

    button:hover {
        border-color: white;
    }
}

.bold-icon {
    font-weight: bold;
    width: 16px;
    height: 16px;
}